Variable

Dans Python, la convention demande le nom des variables en snake_case

Plusieurs fonctions existes pour influer / utiliser ces variables


Par exemple, la fonction type()  renvoie le type de la variable
la fonction .lower() permet de changer une string en mettant tous en minuscule à l'intérieur

Il en existe beaucoup dans le vanilla Python, et encore plus dans les librairis développer autour ( numPy, pandas, ... )

In [27]:
a = 8

numerical_variable = 12

print(type(numerical_variable))

a = 'a'
b = ''
c = 'c'
one = 1
two = 2 
three = 3

<class 'int'>

Commentaire

Les commentaires servent à rendre le code plus lisible, expliquer / documenter du code 
Ces lignes ne servent que pour les developpeur et ne sont jamais interpréter/lu par la machine.

en dessous, a prend la valeur 14, et devrai etre réassigner a 12 si la ligne n'était pas commenté.

In [28]:
# commentarie is never read by the compute

a = 14

# a = 12

print(a)


"""
commentaire sur plusieurs lignes, utiliser pour les classes par exemple
"""


#region balise trie de code
a = 12

# a = 4
#endregion

14

Fonction


Ici, nous voyons la documentation d'une fonction, permettant la relecture du code plus facilement par d'autre développeur( ou le futur nous )

In [29]:
def my_function():
 
    """
    Cette fonction ne sert à rien
    input:
        None
    output:
        None 
    """
    pass


my_function.__doc__

'\n    Cette fonction ne sert à rien\n    input:\n        None\n    output:\n        None \n    '

Mini-exo 1

rentrer une chaine de caractère dans la variable month, 
et le print en majuscule,
en minuscule,
et en capitaliser

In [30]:
month = "JaNuArY"

print(month.upper())
print(month.lower())
print(month.capitalize())

JANUARY
january
January

Les types de données



en python comme dans les autres languages, une variables peux avoir différent type.
Notons qu'en python, une variable changeras de type en fonction de sa valeur, et n'est jamais bloqué.

les différend types primitifs seront 

int (integer) => 1 
float  => 1.02

bool ( boolean ) => True ou False 

séquences =
    list (tableau) => a = ['first_value','second_value']
    tuple => b = ('first_value','second_value')
    set => c = {'first_value','second_value'}
    dictionary => d = {'one' : 1, 'two' : 2, 'three': 3}
    
    string => 'je suis une string'
    (la string est aussi une séquence, un tableau de charactere)

In [31]:
int = 1
float = 1.25641632 
round(float, 2)
bool = False

list = ['first_value','second_value']
tuple = ('first_value','second_value')
set = {'first_value','second_value'}
dict = {'one' : 'first_value', 'two' : 2, 'three': 3}

Mini-exo 2

Créer 3 type de variable


la date du jour en string,
les minutes en int (le nombres depuis minuit à 11h30)
les minute restante dans la journée en ration %

In [32]:
# current date in string
date = "01/18/2024"

# minutes elapsed from midnight to 11h30 am
elapsed_minutes = (11 * 60)+30

# remaining time in % from 11h30 to midnight
# 1440 = number of minutes in a day
# rounded for better reading
remaining_minutes = 100 - round(elapsed_minutes * 100 / 1440 , 2)
    
print(elapsed_minutes % 2)
is_even = elapsed_minutes % 2 == 0
print(is_even)
print(f"Aujourd'hui, nous sommes le {date}")
print(elapsed_minutes)
print(f"{remaining_minutes} %")

0
True
Aujourd'hui, nous sommes le 01/18/2024
690
52.08 %

Opération arythmétiques



Le code, c'est des maths.
L'important c'est de savoir comments utiliser les opérateurs.
Ca reste simple:

-> addition (+)
-> soustraction (-)
-> multiplication (*)
-> divisions (/)

et ça deviens plus pointu

-> exponentiel (**)
-> modulo (%)
-> euclidienne (//)

In [33]:
1+1

2

In [34]:
10-3

7

In [35]:
12*2

24

In [36]:
10/2

5.0

In [37]:
3**3

27

In [38]:
45%5

0

In [39]:
45//5

9

Mini-exo 3

feuille de calcul de logarhytme.... l'enfer

In [40]:
t = [ 0,2,4,6,8,10,12,14]
s = []
average = sum(t) / len(t)
print(average)

for element in t:
    s.append(element **2)
s_average = (sum(s) / len(s)) - average **2 

print(s_average)

7.0
21.0

Version Johlan

In [41]:
t = [0, 2, 4, 6, 8, 10, 12, 14]
moyen_t = 0
moyen_s_t = 0
for elm in t :
    moyen_t += elm
    moyen_s_t += elm**2

moyen_t /= len(t)
moyen_s_t = moyen_s_t/len(t) - moyen_t**2

print(f"moyenne de t : {moyen_t}")
print(f"moyenne de s t : { moyen_s_t} \n")

moyenne de t : 7.0
moyenne de s t : 21.0

Séquences

my_numbers = [*range(100)]
my_numbers = []

for number in range(100):
    number = number**2
    my_numbers.append(number)
[number**2 for number in range(100)]

In [42]:
# x = surface de la maison
# a = 7.5
# b = 1.5
# y = prix de la maison

#y = a * x + b
# your mission, calculate y for all house from 20m² to 50m²

In [43]:
x = 20
a = 7.5
b = 1.5

print([(a * (x + number) + b) for number in range(31)])

[151.5, 159.0, 166.5, 174.0, 181.5, 189.0, 196.5, 204.0, 211.5, 219.0, 226.5, 234.0, 241.5, 249.0, 256.5, 264.0, 271.5, 279.0, 286.5, 294.0, 301.5, 309.0, 316.5, 324.0, 331.5, 339.0, 346.5, 354.0, 361.5, 369.0, 376.5]

# x = surface de la maison
# a = 507.576
# b = 18.5
# c = -0.2
# y = prix de la maison

# equation = ax2 + bx + c
# your mission, calculate y for all house from 200m² to 500m²

In [44]:
a = 507.576
b = 18.5
c = -0.2


print([(a * x**2 + b * x + c) for x in range(200,501,10)])

[20306739.8, 22387986.400000002, 24570748.200000003, 26855025.200000003, 29240817.400000002, 31728124.8, 34316947.4, 37007285.199999996, 39799138.199999996, 42692506.4, 45687389.8, 48783788.4, 51981702.2, 55281131.2, 58682075.4, 62184534.8, 65788509.4, 69493999.2, 73301004.2, 77209524.4, 81219559.8, 85331110.4, 89544176.2, 93858757.2, 98274853.4, 102792464.8, 107411591.4, 112132233.2, 116954390.2, 121878062.4, 126903249.8]

Les sets


les sets sont un type de tableau n'acceuillant aucun doublon
normalement, il retire directement les doublons

In [1]:
company_names = ['All For Bikes',
 'Amaze Bikes Inc',
 'Arena Sports Inc',
 'Atlanta Corp Inc',
 'Bike World Inc',
 'Alpha AG',
 'BuchungsKreis 1010',
 'Trek Cycle AG',
 'Tona Bikes AG',
 'Meine Bicycle',
 'Avante Grande Bikes',
 'Bike On',
 'Carefree Cycles',
 'G&M Bicycle',
 'Keep Cycling',
 'iCare Australia',
 'CC SportWorld',
 'DigiPay',
 'TechCycle Canberra',
 'eBike 100',
 'Cycle World',
 'High Tech Sports Inc',
 'Tires On Fire',
 'MX Bike',
 'FitnessWorld',
 'Homerun Millwork Inc.',
 'Antonio Bandolera',
 'Khan Cycles',
 'Palm Beach Bike World',
 'A to Z Fitness',
 'Hudson SportsTec',
 'Ebike 36',
 'Wichita Sport',
 'Move by Bike',
 'TechCycle',
 'YourCycleShop',
 'Unolab Manufacturing',
 'E bike 201',
 'The Cycle Factor',
 'Eiffel Bikes']

new_company_names = [i.split()[0] for i in company_names]
    
new_company_names_first = []
for company_name in company_names:
    company_name = company_name.split()
    new_company_names_first.append(company_name[0])
    
new_company_names_last = []
for company_name in company_names:
    company_name = company_name.split()
    new_company_names_last.append(company_name[-1])

print(new_company_names)

['All', 'Amaze', 'Arena', 'Atlanta', 'Bike', 'Alpha', 'BuchungsKreis', 'Trek', 'Tona', 'Meine', 'Avante', 'Bike', 'Carefree', 'G&M', 'Keep', 'iCare', 'CC', 'DigiPay', 'TechCycle', 'eBike', 'Cycle', 'High', 'Tires', 'MX', 'FitnessWorld', 'Homerun', 'Antonio', 'Khan', 'Palm', 'A', 'Hudson', 'Ebike', 'Wichita', 'Move', 'TechCycle', 'YourCycleShop', 'Unolab', 'E', 'The', 'Eiffel']

In [46]:
A = ['Oeuf', 'Lait', 'Sucre']
A = set(A)

B = ['Sucre', 'Farine', 'Huile']
B = set(B)

TypeError: 'set' object is not callable

In [47]:
outer = A | B
outer

TypeError: unsupported operand type(s) for |: 'list' and 'set'

In [48]:
inner = A & B
inner

TypeError: unsupported operand type(s) for &: 'list' and 'set'

In [49]:
left = A - B
left

TypeError: unsupported operand type(s) for -: 'list' and 'set'

In [50]:
left_inner = (A - B) | (A & B)
left_inner

TypeError: unsupported operand type(s) for -: 'list' and 'set'

In [51]:
left_inner = A or B
left_inner

['Oeuf', 'Lait', 'Sucre']

Mini-exo 4

In [52]:
import pandas as pd

In [53]:
first_date_range = pd.date_range('01/01/1992','01/01/1999', freq = 'Y').astype(str).to_list()
second_date_range = pd.date_range('01/01/1988','01/01/1995', freq = 'Y').astype(str).to_list()

first_date_range = set(first_date_range)
second_date_range = set(second_date_range)

# retrouver les dates communes au 2 tableaux

inner_date = first_date_range & second_date_range
# autre méthode = first_date_range.intersection(second_date_range)
print(inner_date)

# retrouver les dates différentes des 2 tableaux

outer_date = (first_date_range - second_date_range) | (second_date_range - first_date_range)
# autre méthode = first_date_range.symmetric_difference(second_date_range)

print(outer_date)

TypeError: 'set' object is not callable

Les dictionaires 

tableau composé de clé et de valeurs

on peux utiliser la métholde .items() pour récupérer une clé et une valeur

In [ ]:
translations = {'one': 'un', 'two': 'deux', 'three': 'trois', 'four': 'quatre'}

for english, french in translations.items():
 print(f"La traduction de '{english} 'est '{french}'")

On peux aussi utiliser les méthode .keyx() ou .values() pour cibler ce qu'on souhaite récupérer

In [54]:
{ (key, value.upper()) for (key, value) in translations.items()}

{('four', 'QUATRE'), ('one', 'UN'), ('three', 'TROIS'), ('two', 'DEUX')}

Pour le créer, on peux utiliser la fonction dict()

In [55]:
dict((['one','un'], ['two','deux']))

TypeError: 'dict' object is not callable

fonction zip

In [42]:
dict(zip(new_company_names_first, new_company_names_last))

{'All': 'Bikes',
 'Amaze': 'Inc',
 'Arena': 'Inc',
 'Atlanta': 'Inc',
 'Bike': 'On',
 'Alpha': 'AG',
 'BuchungsKreis': '1010',
 'Trek': 'AG',
 'Tona': 'AG',
 'Meine': 'Bicycle',
 'Avante': 'Bikes',
 'Carefree': 'Cycles',
 'G&M': 'Bicycle',
 'Keep': 'Cycling',
 'iCare': 'Australia',
 'CC': 'SportWorld',
 'DigiPay': 'DigiPay',
 'TechCycle': 'TechCycle',
 'eBike': '100',
 'Cycle': 'World',
 'High': 'Inc',
 'Tires': 'Fire',
 'MX': 'Bike',
 'FitnessWorld': 'FitnessWorld',
 'Homerun': 'Inc.',
 'Antonio': 'Bandolera',
 'Khan': 'Cycles',
 'Palm': 'World',
 'A': 'Fitness',
 'Hudson': 'SportsTec',
 'Ebike': '36',
 'Wichita': 'Sport',
 'Move': 'Bike',
 'YourCycleShop': 'YourCycleShop',
 'Unolab': 'Manufacturing',
 'E': '201',
 'The': 'Factor',
 'Eiffel': 'Bikes'}

In [2]:
for key,value in zip(new_company_names_first, new_company_names_last):
 print(key,value)

All Bikes
Amaze Inc
Arena Inc
Atlanta Inc
Bike Inc
Alpha AG
BuchungsKreis 1010
Trek AG
Tona AG
Meine Bicycle
Avante Bikes
Bike On
Carefree Cycles
G&M Bicycle
Keep Cycling
iCare Australia
CC SportWorld
DigiPay DigiPay
TechCycle Canberra
eBike 100
Cycle World
High Inc
Tires Fire
MX Bike
FitnessWorld FitnessWorld
Homerun Inc.
Antonio Bandolera
Khan Cycles
Palm World
A Fitness
Hudson SportsTec
Ebike 36
Wichita Sport
Move Bike
TechCycle TechCycle
YourCycleShop YourCycleShop
Unolab Manufacturing
E 201
The Factor
Eiffel Bikes

In [3]:
one, two = [ 1, 2 ]

print(one)
print(two)

1
2

Mini-exo 5

depuis la liste des entreprises fournis, créer une liste qui contient uniquement le premier mot,
une autre qui contient la longueur du premier mot, 
une liste qui contient des tuple et sa position dans la liste original

In [26]:
company_names = ['All For Bikes',
 'Amaze Bikes Inc',
 'Arena Sports Inc',
 'Atlanta Corp Inc',
 'Bike World Inc',
 'Alpha AG',
 'BuchungsKreis 1010',
 'Trek Cycle AG',
 'Tona Bikes AG',
 'Meine Bicycle',
 'Avante Grande Bikes',
 'Bike On',
 'Carefree Cycles',
 'G&M Bicycle',
 'Keep Cycling',
 'iCare Australia',
 'CC SportWorld',
 'DigiPay',
 'TechCycle Canberra',
 'eBike 100',
 'Cycle World',
 'High Tech Sports Inc',
 'Tires On Fire',
 'MX Bike',
 'FitnessWorld',
 'Homerun Millwork Inc.',
 'Antonio Bandolera',
 'Khan Cycles',
 'Palm Beach Bike World',
 'A to Z Fitness',
 'Hudson SportsTec',
 'Ebike 36',
 'Wichita Sport',
 'Move by Bike',
 'TechCycle',
 'YourCycleShop',
 'Unolab Manufacturing',
 'E bike 201',
 'The Cycle Factor',
 'Eiffel Bikes']

list_first_word = []
list_len_first_word = []
list_position = []
tmp_position = {}
a = 0


list_first_word = [i.split()[0] for i in company_names]
[list_len_first_word.append(len(i)) for i in company_names]


# verify duplicata, and save their index on dictionary tmp_position.
# then, pop duplicata, and reaffect index to next item
for i in list_first_word :
 if list_first_word.count(i) > 1: 
  tmp_position[i] = a
  list_first_word.pop(a)
 a += 1
 

# build list_position with actual indexes, and check tmp_position to retrieve their ex-index
for i in range(len(list_first_word)):
 flag = False
 for key, value in tmp_position.items():
  if list_first_word[i] == key:
    flag = True
    if i != value :
     list_position.append((i, value))
   
 if flag == False:
  list_position.append(tuple([i]))

print(list_position)
print('\n')
print(dict(zip(list_first_word,list_position)))

[(0,), (1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,), (9,), (10, 4), (11,), (12,), (13,), (14,), (15,), (16,), (17,), (18,), (19,), (20,), (21,), (22,), (23,), (24,), (25,), (26,), (27,), (28,), (29,), (30,), (31,), (32, 17), (33,), (34,), (35,), (36,), (37,)]


{'All': (0,), 'Amaze': (1,), 'Arena': (2,), 'Atlanta': (3,), 'Alpha': (4,), 'BuchungsKreis': (5,), 'Trek': (6,), 'Tona': (7,), 'Meine': (8,), 'Avante': (9,), 'Bike': (10, 4), 'Carefree': (11,), 'G&M': (12,), 'Keep': (13,), 'iCare': (14,), 'CC': (15,), 'DigiPay': (16,), 'eBike': (17,), 'Cycle': (18,), 'High': (19,), 'Tires': (20,), 'MX': (21,), 'FitnessWorld': (22,), 'Homerun': (23,), 'Antonio': (24,), 'Khan': (25,), 'Palm': (26,), 'A': (27,), 'Hudson': (28,), 'Ebike': (29,), 'Wichita': (30,), 'Move': (31,), 'TechCycle': (32, 17), 'YourCycleShop': (33,), 'Unolab': (34,), 'E': (35,), 'The': (36,), 'Eiffel': (37,)}

Les fonctions

permet de créer un morceau de code réutilisable.
en général un action
si la fonction doit renvouer une variable, on utilise "return"

In [ ]:
def function_name():
 return


Une fonction peux avoir des arguments; ces arguments ( parametre ) permette de passer des variable du code dans la boite qu'est la fonction

PEP8 = ecrire le nom du parametre=value, sans espace, afin de rendre le code plus lisible

In [27]:
def magimix(person):
 sugar = 60 * person
 salt = 100 * person
 return f"{sugar} g, {salt} g"

magimix(person=50)

'3000 g, 5000 g'

Une fonction doit avoir une doc, pour être compréhensible par le prochain dev qui passe sur le code

In [ ]:
def magimix(person, unit="g"):
 """
 La fonction calcule les ingrédient necessaire par rapport au nombre de personne présente
 :param person: int 
 :param unit: str / optionnel
 
 :return: str la quantité necessaire
 """
 sugar = 60 * person
 salt = 100 * person
 return f"{sugar} {unit}, {salt} {unit}"

magimix(person=50)

une fonction peux avoir plusieur return.
ou plutot, avec un bloc conditionnel if, return peux prendre des valeurs différentes


on peux définir une variable de fonction comme faisant part du code.

In [ ]:
def magimix(person, unit="g"):
 """
 La fonction calcule les ingrédient necessaire par rapport au nombre de personne présente
 :param person: int 
 :param unit: str / optionnel
 
 :return: str la quantité necessaire
 """
 global salt
 
 sugar = 60 * person
 salt = 100 * person
 return f"{sugar} {unit}, {salt} {unit}"

magimix(person=50)

Mini-exo 6


definir les fonction de moyenne et de variance

In [32]:
def average(arr):
 return sum(arr)/len(arr)
 
def variancy(arr):
 return((sum(x**2 for x in arr) / len(arr)) - (sum(arr)/len(arr))**2)
 
 
 
list = [7,5,12,16,14,3]

print(average(list))
print(variancy(list))

9.5
22.91666666666667