# Conditional Bloc

Create a list of tuple which contains numbers from 1 to 31 and the string 'January'.

Expected result : [(1, 'January'), (2, 'January').. (31, 'January')]

In [24]:
ja_list = [(i+1, 'January') for i in range(31)]
print(ja_list)

[(1, 'January'), (2, 'January'), (3, 'January'), (4, 'January'), (5, 'January'), (6, 'January'), (7, 'January'), (8, 'January'), (9, 'January'), (10, 'January'), (11, 'January'), (12, 'January'), (13, 'January'), (14, 'January'), (15, 'January'), (16, 'January'), (17, 'January'), (18, 'January'), (19, 'January'), (20, 'January'), (21, 'January'), (22, 'January'), (23, 'January'), (24, 'January'), (25, 'January'), (26, 'January'), (27, 'January'), (28, 'January'), (29, 'January'), (30, 'January'), (31, 'January')]

Create a list of tuple which contains numbers from 1 to 31 and the string 'February'.

Expected result : [(1, 'February'), (2, 'February').. (31, 'February')]

In [25]:
fe_list = [(i+1, 'February') for i in range(31)]
print(fe_list)

[(1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February'), (29, 'February'), (30, 'February'), (31, 'February')]

Concatenate the two previous list into one.

Expected result : [(1, 'January'), (2, 'January').. (31, 'February')]

In [26]:
concate_list = ja_list+fe_list
print(concate_list)

[(1, 'January'), (2, 'January'), (3, 'January'), (4, 'January'), (5, 'January'), (6, 'January'), (7, 'January'), (8, 'January'), (9, 'January'), (10, 'January'), (11, 'January'), (12, 'January'), (13, 'January'), (14, 'January'), (15, 'January'), (16, 'January'), (17, 'January'), (18, 'January'), (19, 'January'), (20, 'January'), (21, 'January'), (22, 'January'), (23, 'January'), (24, 'January'), (25, 'January'), (26, 'January'), (27, 'January'), (28, 'January'), (29, 'January'), (30, 'January'), (31, 'January'), (1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February'), (29, 'February'), (30, 'February'), (31, 'February')]

Check if the value (1, 'March') is in the concatenate list.

If yes, then print "The 1 March exist". Otherwise, print "The 1 March does not exist"

In [14]:
if (1, 'March') in ja_list:
    print("The 1 March exist")
else:
    print("The 1 March does not exist" )

The 1 March does not exist

In the concatenated list, print every tuple which are equal or below 28 and contains the string 'February'.

In [30]:

for i in range(len(concate_list)):
     if concate_list[i][1] == 'February' and concate_list[i][0] < 29:
        print(concate_list[i])

(1, 'February')
(2, 'February')
(3, 'February')
(4, 'February')
(5, 'February')
(6, 'February')
(7, 'February')
(8, 'February')
(9, 'February')
(10, 'February')
(11, 'February')
(12, 'February')
(13, 'February')
(14, 'February')
(15, 'February')
(16, 'February')
(17, 'February')
(18, 'February')
(19, 'February')
(20, 'February')
(21, 'February')
(22, 'February')
(23, 'February')
(24, 'February')
(25, 'February')
(26, 'February')
(27, 'February')
(28, 'February')



In the concatenated list, delete every date which are above 28.

In [38]:
a = 0
for i in concate_list:
    if concate_list[a][0] > 28:
        concate_list.pop(a)
    a += 1
print(concate_list)

[(1, 'January'), (2, 'January'), (3, 'January'), (4, 'January'), (5, 'January'), (6, 'January'), (7, 'January'), (8, 'January'), (9, 'January'), (10, 'January'), (11, 'January'), (12, 'January'), (13, 'January'), (14, 'January'), (15, 'January'), (16, 'January'), (17, 'January'), (18, 'January'), (19, 'January'), (20, 'January'), (21, 'January'), (22, 'January'), (23, 'January'), (24, 'January'), (25, 'January'), (26, 'January'), (27, 'January'), (28, 'January'), (1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February')]